* {
    margin: 0;
    box-sizing: border-box;
   
}

header, body {
    background-color: #B6D0E2;
    margin: 0 auto;
   
}

.nav-bar header {
    font-family: "Kaushan Script", "cursive";
}

.navbar .active {
    font-family: "Kaushan Script", "cursive";
}

h2 {
    font-size: 4rem;
    font-weight: 700;
    padding-bottom: 2rem;
    justify-content: center;
    font-family: "Kaushan Script", "cursive";
}

.navbar-brand {
    font-family: "Kaushan Script", "cursive";
    font-size: 3rem;
}

.navbar-nav .active {
    border-left: solid;
    border-width: 1px;
    border-color: #152238;
    font-family: "Kaushan Script", "cursive";
    font-size: 1.5rem;

}

.navbar-nav .active :hover{
    border-left: solid;
    border-width: 1px;
    border-color: #152238;
    font-family: "Kaushan Script", "cursive";
    font-size: 1.5rem;
    background-color: #152238;
    transition:0.6s;

}


button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    padding: 1rem;    
    color: #152238;
    font-size: 3.5rem;
    cursor: pointer;    
    transition: 0.2s;
}

.submit-member:hover {
    color:white;
    background: #152238;
}

#name, #email, #location {
    padding: 2rem;
    border-radius: 4rem;
    display: flex;
    font-size: 1.25rem;
    width: 800px;
    
}


form label {
    font-size: 2.5rem;
    font-weight: 200;
    font-family: "Kaushan Script", "cursive";
}

.form ::placeholder {
    font-size: 1.75rem;
}

.forminput  {
    font-size: 2rem;
}