* {
    margin: 0;
    box-sizing: border-box;
   
}

h1 {
    font-family: "Kaushan Script", "cursive";
}

th {
    font-family: "Kaushan Script", "cursive";
    font-size: 2rem;
    padding-top:2rem;
}

  
#add-another{
    font-size: 1.5rem;
    border: solid;
    display: flex;
    background-color: white;
    
}

#add-another:hover {
    color:white;
    background:#152238;

}

button {
    padding: 0.5rem;
    font-size: 3rem;
}

button:hover{
    color:white;
    background: #152238;
}

td {
    font-size: 1.75rem;
}